* {
    margin: 0;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Neue Hass Medium', sans-serif;
    overflow-x: hidden;
}

/* Fonts */

@font-face {
    font-family: Sequoia;
    src: url(Sequoia-BF651e74b144a0b.otf);
}

@font-face {
    font-family: 'Neue Hass Medium';
    src: url(NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: 'Caslon';
    src: url(OPTICaslonFive.otf);
}

/* Header  */

/* large nav bar */

header {
    position: fixed;
    background-color: #3D5774;
    border-bottom: 2px solid whitesmoke;
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    list-style-type: none;
    font-size: rem;
    width: 90%;
    margin: 0;
    color: #F7A797;
    font-size: 1.5rem;
}

.nav:hover {
    color: whitesmoke;    
    cursor: pointer;
}

/* hamburger nav bar */

/* taylor swift logo for hamburger nav */

.logo {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0rem 2rem;
    width: 100vh;
    z-index: 2;
}

.logo h1 {
    color: #F7A797;
    font-family: Fredoka, sans-serif;
    font-size: 3rem;
    font-weight: 100;
    margin: 1.5rem 0rem;
}

@media only screen and (max-width: 550px) {
    .logo {
        margin-left: 12rem;
        text-align: center;
    }
}

.hamburger-menu {
    z-index: 100;
    font-size: 1.5rem;
}

  .container {
    width: 100%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color:#3D5774;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 0.7rem;
     
  }
  
  .navbar .nav-container a:hover{
     color: whitesmoke;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  /* Making the hamburger */
  .nav-container .checkbox {
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 2.5rem;
    left: 3rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    position: absolute;
    height: 28px;
    width: 34px;
    top: 2.5rem;
    left: 3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .bar {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: whitesmoke;
  }
  
  /* Adding transitions  */
  .nav-container .hamburger-lines .bar1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    width: 37px;
  }
  
  .nav-container .hamburger-lines .bar2 {
    transition: transform 0.2s ease-in-out;
    width: 30px;
  }
  
  .nav-container .hamburger-lines .bar3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    width: 37px;
  }
  
  .navbar .menu-items {
    height: 100vh;
    width: 20vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding: 0rem 4rem;
    transition: transform 0.5s ease-in-out;
    background-color:#B7D3E3 ;
  }

#cv {
    padding-top: 8rem;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding:0;
    width: 25vh;
    text-align: center;
  }
  
  /* Controlling the state of the icon */
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  




/* Change nav bar with screen size */

@media only screen and (min-width: 1000px) {
    .hamburger-menu {
        display: none;
    }
    .small-nav h1 {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger-nav {
        display: block;
    }
    .large-nav {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .hamburger-menu h1 {
        bottom: 0;
    }
}

#title {
    font-size: 2em;
    font-family: Fredoka, sans-serif;
}

/* Landing background */

.landing {
    background-image: url(Images/constellations.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#avatar {
    width: 18em;
    height: 18rem;
    border-radius: 50%;
    padding: 1rem;
}

.landing h1 {
    font-size: 3rem;
    font-family: Fredoka, sans-serif;
}



@media only screen and (max-width: 1000px) {
    .landing {
        background-position: -4rem;
    }
}

@media only screen and (max-width: 500px) {
    .landing {
        background-position: -13em;
    }
    .logo {
        padding-right: 6rem;
    }
}









